{{>header}}
<form id='question_filter_form' {{#each data}} data-{{this.id}}='{{this.filter}}'{{/each}}>
  <fieldset>
    <legend> Type of Exam </legend>

    <input type="radio" name='exam-type' id='language-button' class='language hidden' value='Language'>
    <label for="language-button" class='button-label'> Language</label>

<input type="radio" name='exam-type' id='literature-button' class='filter-button hidden' value='Literature'> <label for="literature-button" class='button-label'> Literature </label>
 </fieldset>

<fieldset>
<legend> Exam Board </legend>
<input type="radio" name='exam-board' id='AQA' class='filter-button hidden' value='AQA'> <label for="AQA" class='button-label'> AQA </label>


<input type="radio" name='exam-board' id='OCR' class='filter-button hidden' value='OCR'>
  <label for="OCR" class='button-label'> OCR </label>

<input type="radio" name='exam-board' id='EDEXCEL' class='filter-button hidden' value='EDEXCEL'>
    <label for="EDEXCEL" class='button-label'> EDEXCEL </label>

  <input type="radio" name='exam-board' id='EDUQAS' class='filter-button hidden' value='EDUQAS'>
    <label for="EDUQAS" class='button-label'> EDUQAS </label>
</fieldset>

 <fieldset>
   <legend> Text Age </legend>
    <input type="radio" name='text-age' id='19C' class='filter-button hidden' value='19th C'>
    <label for="19C" class='button-label'> 19th Century </label>

   <input type="radio" name='text-age' id='20C' class='filter-button hidden' value='20th C'>
    <label for="20C" class='button-label'> 20th Century </label>

   <input type="radio" name='text-age' id='21C' class='filter-button hidden' value='21st C'>
    <label for="21C" class='button-label'> 21st Century </label>

 </fieldset>

<input type="reset">
<input type="submit">
</form>
<div id='question-button-div'>
{{#each data}}
<a href='/multichoice/{{this.id}}'>
  <button class='question-button hidden' id='question-button-{{this.id}}'>
    <h3>{{this.summary}}</h3>
    <p>{{this.filter}}</p>
  </button></a>
{{/each}}
</div>
<script src='../filter.js'></script>
