<header>
  {{>header}}
</header>

<div id='timer'> test timer (failed if you see this!) </div>

<div id='question-object-storage-container', style = 'display: none;'
  data-question-object = ''>
</div>

<section class='extract-container'>

{{>extract extract=data.extract-content}}


</section>
<section class='question-area'>
<h2 class='question-text' id='question-content'>{{data.questioncontent}}</h2>
<form id='question-mc' action='../explanation' method='POST'>
  <div class='question-mc_question red-border'>
    {{#each data.options}}
      <div class='radio-container-div'>
        <input type='radio'
          value='{{@index}}' id='option {{@index}}' name='answer'>
        <label class='radio-label' for='option {{@index}}'>
          <span class='radio-unclicked'> </span>
          <span class='radio-text'> {{this}}</span>       <!-- (is our answer text) -->
         </label>
        </div>
      {{/each}}
    </div>

    <div class='navbar'>
      <div class="button">
        <a href="/extract">
    <img id='back-btn' src='../assets/backarrow.jpg' class= 'navbar_back-btn navbar-button'>
        </a>
      </div>

      <div class="button">
        <a href="/">
  <img id='home-btn' src='../assets/home.png' class= 'navbar_home-btn navbar-button'>
        </a>
      </div>


      <div class="button">
        <img id='lightbulb' src='../assets/hint.jpg' class='navbar_hint-btn navbar-button' data-hint-html='{{data.hint}}'>
      </div>

      <div class="button">
        <input type='submit' class='navbar_forward-btn navbar-button'>
      </div>


  </form>

</div>
</section>
<script src='../modal.js'> </script>
<script src='../get-state.js'> </script>
